FRONTEND_PORT=8081
MYSQL_ROOT_PASSWORD=change_me
JWT_SECRET=change_me_to_a_long_random_secret_key_32_chars_minimum
JWT_EXPIRATION_MS=3600000
TOSS_SECRET_KEY=test_gsk_your_toss_secret_key
VITE_TOSS_CLIENT_KEY=test_gck_your_toss_client_key
VITE_NAVER_MAP_KEY=your_naver_map_key
